body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.photo-frame {
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 20%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
}
@media (min-width: 768px) {
    .photo-frame {
        display: block;
    }
}
